*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

build/generated/
build/resources/
build/tmp/
/src/main/resources/static/
/.gradle/
/demoapp-frontend/node_modules
/demoapp-frontend/dist/
/demoapp-frontend/tmp
/demoapp-frontend/out-tsc
